html, body { margin: 0; font: 400 11pt/16pt "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1 { text-align: center; }

h1, h2, h3, h4, strong { font-weight: 500; line-height: 1.2; }

h2 { margin-bottom: 0.4em; }

strong { font-size: 1.17em; }

a:link { color: #0066cc; }

a:visited { color: #3399ff; }

table { border-radius: 2pt; }

thead th { font-size: 1.1em; }

tbody th { text-align: left; }
tbody td { padding: 0.15em 0.3em; }
tbody td.big { font-size: 1.2em; font-weight: bold; text-align: center; }
tbody tr:nth-child(odd) th, tbody tr:nth-child(odd) td { background-color: #e5f2ff; }

ul { padding-left: 1.5em; list-style-type: circle; }

hr { height: 1px; margin: 1em 0 2em; border: none; border-top: 1px solid #999; }

#container { position: relative; max-width: 710px; margin: 0 auto; word-wrap: break-word; }
@media screen and (min-width: 768px) { #container { padding: 2em; } }
@media screen and (min-width: 1024px) { #container { max-width: 1000px; padding: 2em 0; } }

#header { max-width: 320px; margin: 0 auto; }
@media screen and (max-width: 320px) { #header { margin-left: 20px; margin-right: 20px; } }
@media screen and (min-width: 768px) { #header { max-width: 710px; } }

#formula_selector { max-width: 320px; margin: 2em auto 1em; }
@media screen and (max-width: 320px) { #formula_selector { margin-left: 20px; margin-right: 20px; } }
@media screen and (min-width: 768px) { #formula_selector { max-width: 710px; } }
@media screen and (min-width: 1024px) { #formula_selector { max-width: 1000px; } }
#formula_selector li { position: relative; font-size: 1.5em; vertical-align: top; }
/*#formula_selector li span { display: none; position: absolute; bottom: 5px; left: 0; font-size: 0.5em; line-height: 1; }*/
#formula_selector li span { font-size: 0.5em; line-height: 1; display: block; padding-top: 0.5em; padding-bottom: 2px; }

#input, #input-2 { min-width: 250px; max-width: 320px; margin: 0 auto; }
@media screen and (max-width: 320px) { #input, #input-2 { margin-left: 20px; margin-right: 20px; } }
@media screen and (min-width: 768px) { #input, #input-2 { float: left; clear: left; max-width: 280px; } }
@media screen and (min-width: 1024px) { #input, #input-2 { clear: none; padding-right: 60px; } }
#input > div, #input-2 > div { min-height: 2.5em; margin-bottom: 1em; }
#input > div h3, #input-2 > div h3 { margin: 0 0 0.75em; }
#input > div .slider_parent, #input-2 > div .slider_parent { padding-left: 1.5em; font-size: 1.1em; }
#input > div .slider_parent input, #input-2 > div .slider_parent input { width: 45%; margin-right: 0.5em; height: 1em; }

#outcome { width: 320px; }
@media screen and (max-width: 767px) { #outcome { margin-left: auto; margin-right: auto; } }
@media screen and (min-width: 768px) { #outcome { margin-left: 390px; } }
@media screen and (min-width: 1024px) { #outcome { margin-left: 680px; } }

#faces { width: 320px; height: 320px; }
#faces img { width: 32px; height: 32px; vertical-align: top; }

#scores { max-width: 320px; margin: 2em 0 1em; }
@media screen and (max-width: 320px) { #scores { margin-left: 20px; margin-right: 20px; } }
#scores table { width: 100%; margin-bottom: 1em; border-collapse: collapse; }
#scores table th, #scores table td { vertical-align: middle; }
#scores table th { padding-right: 0.5em; font-size: 1.5em; text-align: right; }
#scores table td { padding: 0.25em 0; }
#scores table td img { width: 32px; height: 32px; vertical-align: -30%; }

ul#benefit_estimates { margin: 0 0 0.5em; padding: 0; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
ul#benefit_estimates > li { display: inline-block; margin: 0 0.5em 0.75em 0; padding: 0.1em 0.4em; color: black; border: 1px solid #003366; border-radius: 2pt; }
ul#benefit_estimates > li.active { background-color: #003366; color: white; font-weight: 500; }
ul#benefit_estimates > li#benefit_information { margin-top: 0.5em; border: none; }

#footer { clear: both; max-width: 710px; margin: 0 auto; padding: 2em 0; text-align: center; color: #444444; }
#footer .separator { padding: 0 1em; color: #999; }
@media screen and (max-width: 768px) { #footer .separator { display: block; color: transparent; } }

.chol_mgdl, #divHeightIn, #divWeightLbs { display: none; }

select.toggle, input[type="text"].toggle {
	padding: 3px;
}
input[type="number"] {
	width: 2.5em !important;
	padding: 3px;
	font-size: 1.1em;
}

.toggle { float: right; border: 1px solid #003366; border-radius: 2pt; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.toggle span { display: inline-block; padding: 0.1em 0.5em; color: black; }
.toggle span:first-child { padding-left: 0.6em; }
.toggle span:last-child { padding-right: 0.6em; }
.toggle span.active { background-color: #003366; color: white; font-weight: 500; }
.toggle.disabled { opacity: 0.5; }

.tab { list-style-type: none; padding: 0; font-size: 1.2em; }
.tab li { display: inline-block; width: 31%; margin: 0; padding: 0.5em 1%; color: black; text-align: center; border-radius: 2pt; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;  }
.tab li:hover { background-color: gainsboro; }
.tab li.active { background-color: #003366; color: white; font-weight: 500; }
@media screen and (max-width: 768px) { .tab li { width: 46%; } }

#liFramingham { cursor: inherit; }
#liFramingham:hover { background-color: inherit; }
#ulFraminghamSubtypes {
	list-style-type: none;
	padding:0;
}
#ulFraminghamSubtypes li {
	font-size: 0.6em;
	width: 22%;
	padding: 0.5em 0.5%;
	height: 2em;
	line-height: 2em;
}
#ulFraminghamSubtypes li span { display: none; }
#FraminghamInstructions {
	text-align: center;
	font-size: 0.5em;
}

.item_info { margin: 0.5em 0 0; font-size: 0.8em; color: #444444; }
h3 + .item_info { margin: 0 0 0.5em; }

.errorAlert {
	display: none;
	background: #E59494;
	border: 1px solid #AD0000;
	text-align: center;
	font-weight: bold;
	padding: 0.5em;
	margin: 1em 0;
	min-height: inherit !important;
}
.errorAlert sup, .errorAlert sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}
.errorAlert sub { top: 0.4em; }
.errorTextbox {
	background: #E59494;
	border: 1px solid #AD0000;
	font-weight: bold;
}
.opacity10 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
  opacity: 0.1;
}